@model IFMAMVCDemo.Data.Models.Payment

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div class="alertCard">
    <div class="alertIcon">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z" />
        </svg>
    </div>
    <div class="alertContent">
        Are you sure you want to delete this?
    </div>
</div>
<div>
    <h4>
        <a title="Back to List" class="backtoLink" asp-action="Index">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
            </svg>
        </a>
        Payment
    </h4>
    <hr />
    <dl class="row">
        <div class="col-md-4">
            <div class="detailCard">
                <div class="detailCardContent">
                    <div class="row">
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.PaymentDate)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.PaymentDate)
                        </dd>
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.Member)
                        </dt>
                        <dd class="col-sm-7">
                            <a asp-action="Details" asp-controller="Members" asp-route-id="@Model?.Member.Id">
                                @Html.DisplayFor(model => model.Member.FirstName)
                                @Html.DisplayFor(model => model.Member.LastName)
                            </a>
                        </dd>
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.Amount)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Amount)
                        </dd>
                    </div>
                </div>
                <div class="detailCardAction">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <a class="cancelBtn" asp-action="Index">Back to List</a>
                        <input class="deleteBtn" type="submit" value="Delete" />
                    </form>
                </div>
            </div>
        </div>

    </dl>
    
    
</div>
